/* Container */
.reviewPage__container {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 50px 20px;
    max-width: 1000px;
    min-height: 80vh;
    margin: 0 auto;
}

/* Image */
.reviewPage__image > img {
    height: 500px;
    width: 400px;
    object-fit: contain;
}

/* Details */
.reviewPage__details {
    padding: 0 0 0 20px;
}

.reviewPage__title {
    font-size: 34px;
    color: var(--primary-green);
}

.reviewPage__plot {
    margin: 10px 0 0 0;
    font-size: 17px;
}

.reviewPage__genres, 
.reviewPage__languages, 
.reviewPage__stars {
    margin-top: 8px;
    font-size: 17px;
}

.reviewPage__details .label {
    color: var(--primary-blue);
    font-weight: bold;
}

.reviewPage__ratings {
    margin-top: 10px;
    width: 100%;
}

.reviewPage__ratings > h4 {
    margin-bottom: 3px;
    font-size: 24px;
    color: var(--primary-green);
}