.topMovies {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}

.topMovies__title {
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-green);
    font-size: 38px;
    font-weight: 500;
}