.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: var(--original-black);
}

.header__branding > h1 {
    color: var(--primary-green);
    cursor: pointer;
}

.header__right {
    display: flex;
    align-items: center;
}