.search {
    position: relative;
}

/* Search Form */
.search__form {
    display: flex;
    border: 2px solid var(--primary-green);
    border-radius: 25px 25px 25px 25px;
    background-color: var(--primary-black);
}

/* Search Input */
.search__input {
    flex: 1;
    width: 100%;
    padding: 11px 0 11px 20px;
    outline: none;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: inherit;
    color: var(--secondary-gray);
    font-size: 25px;
}

.search__input::placeholder {
    color: var(--secondary-black);
}

/* Search Button */
.search__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 4px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.search__icon {
    font-size: 30px !important;
    color: var(--secondary-black);
}

.search__button:hover .search__icon {
    transition: color 150ms ease-in;
    color: var(--secondary-gray);
}

/* Search Dropdown */
.search__dropdown {
    position: absolute;
    max-height: 250px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-black);
    overflow: auto;
    border: 1px solid var(--secondary-black);
    box-shadow: 0 4px 12px 2px rgb(0 0 0 / 90%);
    z-index: 2;
}

.search__dropdown::-webkit-scrollbar {
    width: 5px;
}

.search__dropdown::-webkit-scrollbar-thumb {
    background-color: var(--secondary-black);
}

/* Responsiveness */
@media(max-width: 500px) {

}